<div class="localStream wow bounceInRight" ng-controller="LocalStreamController as localStream">
	<p><%= username %><input ng-model="localStream.name" placeholder="Tên của bạn" class="input" /></p>
	<video id="localVideo" muted="muted" autoplay="true"></video>
	
	<li ng-click="localStream.toggleCam()">
		<a href>{{ localStream.cameraIsOn ? 'Kết thúc' : 'Bắt đầu' }}</a>
	</li>
	<div ng-show="localStream.cameraIsOn">		
		<p id="copyTarget"><a href="{{localStream.link}}" target="blank">{{ localStream.link }}</a></p><br><a class="btn btn-2"  data-clipboard-action="copy" data-clipboard-target="#copyTarget">Chép đường dẫn chia sẻ</a>
	</div>
</div>