<div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
	<h2 class="">Đang Online</h2>
	<table class="wow bounceInLeft">
    	<thead>
    		<tr>
        		<th>Stream</th><th>Xem</th><th>Gọi</th>
   			</tr>
   		</thead>
    	<tbody>
    		<tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">
        		<td><a>{{stream.name}}</a></td>
                <td ng-click="rtc.view(stream)"><a>Xem</a></td>
                <td ng-click="rtc.call(stream)"><a>Gọi</a></td>
    		</tr>
		</tbody>
	</table>

	<li ng-click="rtc.loadData()" style="width: 240px" class="wow bounceInLeft">
        <a href>Refresh</a>
    </li>

    <div id="remoteVideosContainer" class="wow bounceInLeft"></div>

<div class="remoteStreams">