<div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
	<h2>Đang Online</h2>
    
	<table>
    	<thead>
    		<tr>
        		<th>Stream</th><th>Xem</th><th>Gọi</th>
   			</tr>
   		</thead>
    	<tbody>
    		<tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">
        		<td><a>{{stream.name}}</a></td>
                <td ng-click="rtc.view(stream)"><a>Xem</a></td>
                <td ng-click="rtc.call(stream)"><a>Gọi</a></td>
    		</tr>
		</tbody>
	</table>

	<li ng-click="rtc.loadData()" style="width: 240px">
        <a href>Refresh</a>
    </li>

    <div class="row">
       <div id="remoteVideosContainer col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
    </div>

<div class="remoteStreams">